.p3{
    font-size: xx-large;
    padding-left: 5px;
    color: #793179;
    font-family: bold;
}

th{
    text-align: left;
    color: #793179;
    font-weight:  bold;
    font-size: medium;
}

td{
    text-align: left;
    font-weight:  normal;
    font-size: medium;
}


