p3 {
    font-size: xx-large;
    padding-left: 10px;
    color: #793179;
    font-family: bold;
}

.background-material .h2 {
    font-family: bold;
    font-weight: normal;
    text-align: left;
    padding-top: 5px;
}

.background-material .h5{
    font-family: bold;
    font-weight: bold;
    padding-top: 10px;
}

.background-material .h6{
    font-family: bold;
    font-weight: bold;
    padding-top: 10px;
}

.label{
    color: #793179;
}

.form{
    padding-top: 10px;
}

.background-material .label{
    color: black;
}

.background-material .form{
    padding-top: 0px;
    padding-left: 50px;
    padding-right: 50px;
}

.background-material .card-body{
    color: #3F71AE;
}

.background-material li {
    font-weight: bold;
    font-family: inter;
}

.background-material .button {
    background-color: #7a067a;
}

.background-material img{
    position: absolute;
    right: 100px;
    width: 180px;
}

.background-material card{
    color: #8f9296;
}

.background-view--material .top{
    position: absolute;
    right: 0px;
    width: 190px;
}

.background h1{
    color: #793179;
    font-weight:  bold;
}

.background h5{
    color: #803480;
    font-weight:  bold;
}

.background i{
    color: #7a067a;
}

.background label{
    color: #6b556b;
}

.files input {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    padding: 120px 0px 85px 35%;
    text-align: center !important;
    margin: 0;
    width: 100% !important;
}
.files input:focus{     outline: 2px dashed #92b0b3;  outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear; border:1px solid #92b0b3;
}
.files{ position:relative}
.files:after {  pointer-events: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 50px;
    right: 0;
    height: 56px;
    content: "";
    background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png);
    display: block;
    margin: 0 auto;
    background-size: 100%;
    background-repeat: no-repeat;
}
.color input{ background-color:#f1f1f1;}
.files:before {
    position: absolute;
    bottom: 10px;
    left: 0;  pointer-events: none;
    width: 100%;
    right: 0;
    height: 57px;
    content: " or drag it here. ";
    display: block;
    margin: 0 auto;
    color: #2ea591;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
}
