.background-teacher .h2 {
    font-family: bold;
    font-weight: normal;
    text-align: left;
    padding-top: 5px;
}

.background-teacher .h5{
    font-family: bold;
    font-weight: bold;
    padding-top: 10px;
}

.background-teacher .h6{
    font-family: bold;
    font-weight: bold;
    padding-top: 10px;
}

.background-teacher .label{
    color: black;
}

.background-teacher .form{
    padding-top: 0px;
    padding-left: 50px;
    padding-right: 50px;
}

.background-teacher .card-body{
    color: #3F71AE;
}

.background-teacher li {
    font-weight: bold;
    font-family: inter;
}

.background-teacher .button {
    background-color: #7a067a;
}
