h2 {
    font-family: bold;
    font-weight: bold;
    text-align: center;
    font-size: 40px;
    padding-top: 5px;
    color: black;
}

h5{
    font-family: bold;
    font-weight: bold;
    padding-top: 10px;
}

h6{
    font-family: bold;
    font-weight: bold;
    padding-top: 10px;
}

label{
    color: black;
}

form{
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

card-body{
    color: #3F71AE;
}

button{
    align-items: center;
}
