.h2 {
    font-family: bold;
    font-weight: normal;
    text-align: left;
    padding-top: 5px;
}

.h5{
    font-family: bold;
    font-weight: bold;
    padding-top: 10px;
}

.h6{
    font-family: bold;
    font-weight: bold;
    padding-top: 10px;
}



.label{
    color: black;
}

.form{
    padding-top: px;
    padding-left: 50px;
    padding-right: 50px;
}

.card-body{
    color: #3F71AE;
}

li {
    font-weight: bold;
    font-family: inter;
}

.button {
    background-color: #7a067a;
}
